/* Estilos padrão */

* {
  margin: 0;
  padding: 0;
}

.containerHeader {
  align-items: center;
  background-color: white;
  display: flex;
  height: 20vh;
  justify-content: space-around;
  width: 70vw;
}

.despesas {
  align-items: center;
  color: #003be5;
  display: flex;
  font-family: sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  gap: 3px;
  height: 14px;
  justify-content: center;
  left: 592px;
  line-height: 14px;
  top: 88px;
  width: 233px;
}

.email {
  align-items: center;
  color: #2ab381;
  display: flex;
  font-family: sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  height: 14px;
  line-height: 14px;
  width: 15%;
}

.displayEmail {
  align-items: center;
  display: flex;
  gap: 3px;
}

.logoTipo {
  margin-bottom: 1.5%;
}

/* Estilos responsivos */

@media screen and (max-width: 768px) {
  .containerHeader {
    flex-direction: column;
    height: auto;
    width: 90%;
  }
  
  .email {
    width: 100%;
  }
  
  .displayEmail {
    margin-top: 1em;
  }
}
